* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.poker-room {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.poker-table {
  height: 400px;
  width: 800px;
  background-color: green;
  border: solid 20px #333;
  margin: 0 auto;
  border-radius: 200px;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
}

#name-1,
#name-2 {
  /* border: 1px solid blue; */
  height: 1em;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button-container {
  /* border: 1px solid red; */
  width: 700px;
  height: 100px;
  /* background-color: cornflowerblue; */
  position: relative;
  margin: auto;
  text-align: center;
}

/* .button-container .buttons {
  border: 1px solid yellow;
  text-align: center;
} */

.poker-table .player {
  /* border: 1px solid black; */
  position: relative;
  height: 100%;
  text-align: center;
}

.poker-table .seat {
  /* border: 1px solid teal; */
  height: 100px;
  width: 100px;
  /* background-color: red; */
  position: absolute;
}

.cards {
  height: 50px;
  width: 100%;
  display: flex;
  /* border: 1px solid bisque; */
  /* border-radius: 5px; */
  justify-content: center;
}

.poker-table .seat.seat-one {
  /* border: 1px solid palevioletred; */
  right: -00px;
  top: 40%;
}

.poker-table .seat.seat-one .player .cards {
  /* border: 1px solid orange; */
  position: absolute;
  right: 100px;
  width: 80px;
}

.poker-table .seat.seat-two {
  /* border: 1px solid indigo; */
  left: 5px;
  top: 40%;
}
.poker-table .seat.seat-two .player .cards {
  /* border: 1px solid pink; */
  position: absolute;
  left: 100px;
  width: 80px;
}

/* #card-1,
#card-2 {
  border: 1px solid slateblue;
}

#card-3,
#card-4 {
  border: 1px solid sienna;
} */

.community-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid cadetblue; */
}

.add-for-players {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
  margin: 00px 50px 00px 80px;
}

#card-a,
#card-b,
#card-c,
#card-d,
#card-e {
  /* padding: 10px; */
  /* border: 1px solid aquamarine; */
  margin: 20px 50px 2px 50px;
}

.player1-selected {
  display: flex;
  /* border: 1px solid lightcyan; */
  position: relative;
  top: 100px;
  left: 450px;
  width: 200px;
}

.player2-selected {
  display: flex;
  /* border: 1px solid navajowhite; */
  position: absolute;
  top: 220px;
  left: 200px;
  width: 200px;
}

.card {
  border: 1px solid black;
  margin: 2px;
  border-radius: 3px;
  width: 30px;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  background-color: white;
  text-align: center;
}

.card.red {
  color: red;
}

.card.black {
  color: black;
}
