* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #3a3b3c;
}

.poker-room {
  width: 100%;
  height: 100%;
}

.poker-table {
  height: 400px;
  width: 800px;
  background-color: #35654d;
  border: solid 20px #3a3b3c;
  margin: 0 auto;
  border-radius: 200px;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
}

#name-1,
#name-2 {
  height: 1em;
  color: #000000;
  text-align: center;
}

.button-container {
  width: 800px;
  height: 100px;
  position: relative;
  margin: auto;
  text-align: center;
}

.poker-table .player {
  position: relative;
  height: 100%;
  text-align: center;
}

.poker-table .seat {
  height: 100px;
  width: 100px;
  position: absolute;
}

.cards {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.poker-table .seat.seat-one {
  right: -00px;
  top: 40%;
}

.poker-table .seat.seat-one .player .cards {
  position: absolute;
  right: 100px;
  width: 80px;
}

.poker-table .seat.seat-two {
  left: 5px;
  top: 40%;
}
.poker-table .seat.seat-two .player .cards {
  position: absolute;
  left: 100px;
  width: 80px;
}

.community-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-for-players {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 00px 50px 00px 80px;
}

#card-a,
#card-b,
#card-c,
#card-d,
#card-e {
  margin: 20px 50px 2px 50px;
}

.player1-selected {
  display: flex;
  position: relative;
  top: 96px;
  left: 450px;
  width: 200px;
}

.player2-selected {
  display: flex;
  position: absolute;
  top: 220px;
  left: 200px;
  width: 200px;
}

.card {
  border: 1px solid #3a3b3c;
  margin: 2px;
  border-radius: 3px;
  width: 30px;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  background-color: white;
  text-align: center;
}

.card.red {
  color: red;
}

.card.black {
  color: black;
}

.card.red:hover,
.card.black:hover {
  background-color: #3a3b3c;
}

.start-game,
.deal,
.restart,
.check-pikachu,
.check-eevee,
.check-winner {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  transition: all 0.2s;
}
.start-game:hover,
.deal:hover,
.restart:hover,
.check-pikachu:hover,
.check-eevee:hover,
.check-winner:hover {
  background-color: #ffffff;
}

#eevee-add1,
#pikachu-add1,
#eevee-add2,
#pikachu-add2,
#eevee-add3,
#pikachu-add3,
#eevee-add4,
#pikachu-add4,
#eevee-add5,
#pikachu-add5 {
  display: inline-block;
  padding: 0.1em 1em;
  border: 0.1em solid #35654d;
  margin: 0 0.1em 0.1em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #3a3b3c;
  text-align: center;
  transition: all 0.2s;
}

#eevee-add1:hover,
#pikachu-add1:hover,
#eevee-add2:hover,
#pikachu-add2:hover,
#eevee-add3:hover,
#pikachu-add3:hover,
#eevee-add4:hover,
#pikachu-add4:hover,
#eevee-add5:hover,
#pikachu-add5:hover {
  background-color: #35654d;
}
